{% extends 'base.html' %} {% load static %}
        
        {%block headerbutton%}
        <form method="post" action="/">
           
            <a href="{% url 'index' %}" class="waves-effect waves-light btn" id="logout" >Log Out</a>
            <a href="{% url 'managermain' %}" class="waves-effect waves-light btn" id="logout" >Main</a>
        </form>
        {% endblock %}
        
        {% block content%}
        {% csrf_token %}
                <p class="error_msg">{{show}}</p>
       
            <p id="headlineofmanagement">
                <b>
                Records of Orders
              </b>
              </p>
<!--
          <div class="row" id="table-margin-top">
            <div class="col s4">
                <form class="search-bar-management">
                    <input type="text" name="search" value="Search cuisine here" >
        
                </form>
            </div>
            <div class="col s2">
            <form >
                <select class="select-management" required>
                      <option >Completed</option>
                      <option >Pending</option>
                </select>
            </form>
            </div>
            <div class="col s2">
            <form >
                <select class="select-management" required>
                     <option >Store-A</option>
                     <option >Store-B</option>
                     <option >Store-C</option>
                     <option >Store-D</option>
                </select>
            </form>
            </div>
            <div class="col s4">
                <p id="loginfo" >
                    Hi, Jess. Start to manage orders now.
                   </p>
                   {% csrf_token %}
                <p class="error_msg">{{show}}</p>
                    
            </div>
        </div>
    -->
            <div class="record-table">
        <table class="striped" >
            <thead>
              <tr>
                  <th>Order No.</th>
                  <th>Desk No.</th>
                  <th>Name of Cuisine</th>
                  <th>Amount</th>
                  <th>Status</th>
                  
                  <th>Price</th>
                  <th>Store</th>
                  <th>Action</th>
                  <th>Action</th>
              </tr>
            </thead>
    
            <tbody>
                <form action="#" method="POST">{% for order in orders %}
                    <tr>
                            
              
                    <form action="#" method="POST">
                <td>{{order.id}}</td>
                <td> <input type="text" name="input_desk_no" value="{{order.desk_no}}">{{order.desk_no}}</td>
                <td >
                    {% csrf_token %}
                        <select id="menu" class="select-management" name="cuisine_select" required>
                            <option class="disabled" value="">Choose a cuisine</option>
                            {% for menu in menus %}
                                <option class="" value="{{ menu.name_of_cuisine }}" name="{{ menu.name_of_cuisine }}">{{ menu.name_of_cuisine }}</option>
                            {% endfor %}
                        </select>{{ order.name_of_cuisine }}
                </td>
                <td> <input type="text" name="input_amount" value="{{order.amount}}">{{order.amount}}</td>
                <td> <input type="text" name="input_status" value="{{order.status}}">{{order.status}}</td>
                <!--<td> <input type="text" name="input_time" value="{{order.time}}">{{order.time}}</td>-->
                <td> {{order.price}}</td>
                
                <td>{% csrf_token %}
                        <select id="store" class="select-management" name="store_select" required>
                            <option class="disabled" value="">Choose a store</option>
                            {% for store in stores %}
                                <option class="" value="{{ store.name }}" name="{{ store.name }}">{{ store.name }}</option>
                            {% endfor %}
                        </select>{{ order.store.name }}
                </td>
                   
                <td>
                            {% csrf_token %}
                    <button class="waves-effect waves-light btn" name = "OrderUpdate" id="{{ order.id }}" value="{{ order.id }}" type="submit">Update</button>
                </td>
                <td>
                        {% csrf_token %}
                <button class="waves-effect waves-light btn" name = "DeleteUpdate" id="{{ order.id }}" value="{{ order.id }}" type="submit">Delete</button>
            </td>
                </form>
                
   
                            
                                                            <!--<input type="checkbox"  name="checkedbox" id="{{ store.name }}" value="{{ store.name }}">-->
          
               
               
                  
              </tr>{% endfor %}  
              
                          </tr>
                        </form>
             
              
                 
            </tbody>
          </table>
          </div>
            
        {% endblock%}   
                  
            
            
            
            


