<!DOCTYPE html>
    <html lang="en-US">
    <head>
            <meta charset="UTF-8">
            <title>
                Manager-Employee
            </title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen"/>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/additional.css' %}" charset="utf-8"  />
    </head>
    
    <body>
        <header class="menu-page-header">
        
                <div class="grid-example col s12" id="welcomeheadline">
                    Welcome to the Moonlight Restaurant
                    <a class="waves-effect waves-light btn" id="logout">Log Out</a>
                </div>
        
        </header>
        
    
        <div class="general-container">
          <p class="headlineofmanagement">
            <b>
            Records of Employees
          </b>
          </p>
          <div class="row" class="table-margin-top">
            <div class="col s4">
                <form class="search-bar-management">
                    <input type="text" name="search" value="Search employee here" >
        
                </form>
            </div>
            <div class="col s2">
            <form>
                <select class="select-management">
                      <option >Increase</option>
                      <option >Decrease</option>
                </select>
            </form>
            </div>
            <div class="col s2">
            <form>
                <select class="select-management">
                     <option >Store-A</option>
                     <option >Store-B</option>
                     <option >Store-C</option>
                     <option >Store-D</option>
                </select>
            </form>
            </div>
            <div class="col s4">
                <p id="loginfo">
                    Hi, Nichole. Start to manage employees now.
                   </p>
            </div>
        </div>
            <div class="record-table">
        <table class="striped" >
            <thead>
              <tr>
                  <th>Employee No.</th>
                  <th>Name</th>
                  <th>Store</th>
                  <th>Manager</th>
                  
              </tr>
            </thead>
    
            <tbody>
                <form action="#" method="POST">
                    <tr>
                        <td>Default ID</td>
                        <td>
                            {% csrf_token %}
                            <input type="text" id="status" class="taskName" name="name" required>
                    </td>
              
                    <td>
                          {% csrf_token %}
                      <select id="manager" class="select-management" name="manager_select" >
                          <option class="disabled" value="">Choose a manager</option>
                          {% for manager in managers %}
                              <option class="" value="{{ manager.name }}" name="{{ manager.name }}">{{ manager.name }}</option>
                          {% endfor %}
                          </select>
                 
                    </td>
                    <td>
                        {% csrf_token %}
                    <select id="store" class="select-management" name="store_select">
                        <option class="disabled" value="">Choose a store</option>
                        {% for store in stores %}
                            <option class="" value="{{ store.name }}" name="{{ store.name }}">{{ store.name }}</option>
                        {% endfor %}
                        </select>
               
                  </td>
                    <td colspan="2">
                        <button class="waves-effect waves-light btn" name="EmployeeAdd" type="submit">
                            Add New Store
                          </button>
                         
                      </td>
                    </tr>
                    </form>

                    {% for employee in employees %}
              <tr>
                    <form action="#" method="POST">
                <td>{{employee.id}}</td>
                <td> <input type="text" name="input_employeename" value="{{employee.name}}">{{employee.name}}</td>
                
                <td>{% csrf_token %}
                        <select id="manager" class="select-management" name="manager_select" >
                            <option class="disabled" value="">Choose a manager</option>
                            {% for manager in managers %}
                                <option class="" value="{{ manager.name }}" name="{{ manager.name }}">{{ manager.name }}</option>
                            {% endfor %}
                            </select>{{ employee.manager.name }}</td>
                   
                <td>
                    <td>{% csrf_token %}
                        <select id="store" class="select-management" name="store_select" >
                            <option class="disabled" value="">Choose a store</option>
                            {% for store in stores %}
                                <option class="" value="{{ store.name }}" name="{{ store.name }}">{{ store.name }}</option>
                            {% endfor %}
                            </select>{{ employee.e_store.name }}</td>
                   
                <td>
                            {% csrf_token %}
                    <button class="waves-effect waves-light btn" name = "EmployeeUpdate" id="{{ employee.id }}" value="{{ employee.id }}" type="submit">Update</button>
                </td>

                </form>
                <td>
                        <form action="#" method="POST">
                                {% csrf_token %}
                                <button class="waves-effect waves-light btn" name = "EmployeeDelete" id="{{ employee.id }}" value="{{ employee.id }}" type="submit">Delete</button>
                                                                <!--<input type="checkbox"  name="checkedbox" id="{{ store.name }}" value="{{ store.name }}">-->
                </form>
                </td>
              </tr>
              {% endfor %}
   
                            
                      
              <tr>
                <td>0001</td>
                <td>Nichole</td>
                <td>Female</td>
                
                    <a class="waves-effect waves-light btn" >Update</a>
                </td>
              </tr>
              <tr>
                <td>0002</td>
                <td>Jess</td>
                <td>Male</td>
              
                    <a class="waves-effect waves-light btn" >Update</a>
                </td>
              </tr>
              <tr>
                <td>0003</td>
                <td>Helen</td>
                <td>Female</td>
               
                    <a class="waves-effect waves-light btn" >Update</a>
                </td>
              </tr>
              <tr>
                  <td>0004</td>
                  <td>David</td>
                  <td>Male</td>
               
                      <a class="waves-effect waves-light btn" >Update</a>
                  </td>
                </tr>
                <tr>
                    <td>0005</td>
                    <td>Simon</td>
                    <td>Male</td>
                   
                        <a class="waves-effect waves-light btn" >Update</a>
                    </td>
                  </tr>
            </tbody>
          </table>
          <div class="table-margin-top">
              <a class="waves-effect waves-light btn" style="margin-right: 5%" >Save</a>
              <a class="waves-effect waves-light btn" >Add</a>
              </div>
          </div>
            
           
                  
            
            
            
            

          </div>
          <footer class="page-footer">
                
                <div class="footer-copyright">
                  
                  <div class="general-container">
                  <a class="grey-text text-lighten-4" style="text-align:center" href="#!">© 2019 Jiayue Yang Copyright </a>
                  </div>
                </div>
              </footer>
        </body>
</html>