<!DOCTYPE html>
    <html lang="en-US">
    <head>
            <meta charset="UTF-8">
            <title>
                Manager-Main
            </title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen"/>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/additional.css' %}" charset="utf-8"  />
    </head>
    
    <body>
        <header class="menu-page-header">
        
                <div class="grid-example col s12" id="welcomeheadline">
                    Welcome to the Moonlight Restaurant
                    <a class="waves-effect waves-light btn" id="logout">Log Out</a>
                </div>
        
        </header>
        
    
        <div class="general-container">
        
            <p  class="headlineofmanagement">
                <b>
                Welcome, Manager
                </b>
            </p>
            <div class="row" id="table-margin-top">
                <div class="col s7">
                    <form style="float:right">
                        <select class="select-management">
                             <option >Line chart</option>
                             <option >Fan chart</option>
                             <option >Bar chart</option>
                             
                        </select>
                    </form>
                    <p  class="headlineofmanagement">
                        <b>
                        Today's sales
                        </b>
                    </p>
                    <img src="Pictures/line-chart.jpg" alt="line-chart">
                </div>

                <div class="col s5">
                    <p  class="headlineofmanagement">
                        <b>
                        Management Section
                        </b>
                    </p>
                      <div>
                        <a href="{% url 'managermenu' %}"  class="waves-effect waves-light btn" id="management-main-btn1" >Menu</a>
                        <a href="{% url 'manageremployee' %}" class="waves-effect waves-light btn" id="management-main-btn2" >Employee</a>
                        <a href="{% url 'managerstore' %}" class="waves-effect waves-light btn" id="management-main-btn3">Store</a>
                        <a href="{% url 'managermanager' %}" class="waves-effect waves-light btn" id="management-main-btn4">Manager</a>
                      </div>
                </div>

                
        
            
            
           
                  
            
            
            
            

          </div>
          </div>
          <footer class="page-footer">
                
              <div class="footer-copyright">
                
                <div class="general-container">
                <a class="grey-text text-lighten-4" style="text-align:center" href="#!">© 2019 Jiayue Yang Copyright </a>
                </div>
              </div>
            </footer>
        </body>
</html>