<!DOCTYPE html>
    <html lang="en-US">
    <head>
            <meta charset="UTF-8">
            <title>
                Manager-Manager
            </title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen"/>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/additional.css' %}" charset="utf-8"  />
    </head>
    
    <body>
        <header class="menu-page-header">
        
                <div class="grid-example col s12" id="welcomeheadline">
                    Welcome to the Moonlight Restaurant
                    <a class="waves-effect waves-light btn" id="logout">Log Out</a>
                </div>
        
        </header>
        
    
        <div class="general-container">
          <p id="headlineofmanagement">
            <b>
            Records of Stores
          </b>
          </p>
          <div class="row" class="table-margin-top">
            <div class="col s4">
                <form class="search-bar-management">
                    <input type="text" name="search" value="Search store here" >
        
                </form>
            </div>
            <div class="col s2">
            <form>
                <select class="select-management">
                      <option >Increase</option>
                      <option >Decrease</option>
                </select>
            </form>
            </div>
            <div class="col s2">
            <form>
                <select class="select-management">
                     <option >Store-A</option>
                     <option >Store-B</option>
                     <option >Store-C</option>
                     <option >Store-D</option>
                </select>
            </form>
            </div>
            <div class="col s4">
                <p id="loginfo">
                    Hi, Nichole. Start to manage  managers now.
                   </p>
                   {% csrf_token %}
                <p class="error_msg">{{show}}</p>
            </div>
        </div>
            <div class="record-table">
        <table class="striped" >
            <thead>
              <tr>
                  <th>Manager No.</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Action</th>
                  <th>Action</th>
                  
                  
              </tr>
            </thead>
    
            <tbody>
                <form action="#" method="POST">
                    <tr>
                        <td>Default ID</td>
                        <td>
                            {% csrf_token %}
                            <input type="text" id="status" class="taskName" name="name" required>
                    </td>
                    <td>
                        {% csrf_token %}
                        <input type="text" id="status" class="taskName" name="gender" required>
                    </td>
                    <td colspan="2">
                        <button class="waves-effect waves-light btn" name="ManagerAdd" type="submit">
                            Add New Manager
                          </button>
                         
                      </td>
                    </tr>
                    
                    </form>
                    {% for manager in managers %}
                    <tr>
                          <form action="#" method="POST">
                      <td>{{manager.id}}</td>
                      <td> <input type="text" name="input_managername" value="{{manager.name}}">{{manager.name}}</td>
                      <td><input type="text" name="input_managergender" value="{{manager.gender}}">{{manager.gender}}</td>
                         
                      <td>
                                  {% csrf_token %}
                          <button class="waves-effect waves-light btn" name = "ManagerUpdate" id="{{ manager.id }}" value="{{ manager.id }}" type="submit">Update</button>
                      </td>
      
                      </form>
                      <td>
                              <form action="#" method="POST">
                                      {% csrf_token %}
                                      <button class="waves-effect waves-light btn" name = "ManagerDelete" id="{{ manager.id }}" value="{{ manager.id }}" type="submit">Delete</button>
                                                                      <!--<input type="checkbox"  name="checkedbox" id="{{ store.name }}" value="{{ store.name }}">-->
                      </form>
                      </td>
         
                                  
                                                                  <!--<input type="checkbox"  name="checkedbox" id="{{ store.name }}" value="{{ store.name }}">-->
                
                     </td>
                     
                          
                    </tr>
                    {% endfor %}
              
            </tbody>
          </table>
          <div  class="table-margin-top">
   
              </div>
          </div>
            
           
                  
            
            
            
            

          </div>
          <footer class="page-footer">
                
                <div class="footer-copyright">
                  
                  <div class="general-container">
                  <a class="grey-text text-lighten-4" style="text-align:center" href="#!">© 2019 Jiayue Yang Copyright </a>
                  </div>
                </div>
              </footer>
        </body>
</html>