<!DOCTYPE html>
    <html lang="en-US">
    <head>
            <meta charset="UTF-8">
            <title>
                Menu for order
            </title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen"/>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/additional.css' %}"  />
    </head>
    
    <body>
        <header class="menu-page-header">
        
                <div class="grid-example col s12" id="welcomeheadline">
                        <form method="post" action="/">
                        
                            <a href="{% url 'index' %}" class="waves-effect waves-light btn" id="logout" >Log Out</a>
                        </form>
                    Welcome to the Moonlight Restaurant
                    
                </div>
        </header>
        
    <!--
        <div class="general-container">
        
    
        
            
            <br>
            <div class="row">
                    <div class="col s7">
                            <a href="" id="frequentlyordered">
                                    <b>Frequently Ordered</b>
                                </a>
                            
                            
                        <form style="width: 50%">
                            <input type="text" name="search" value="Search cuisine here" >
                            
                        </form>
                        <form   >
                                <select  class="select-drop-down-box">
                                        <option >Price</option>
                                        <option >Popular</option>
                                        <option >Rank</option>
                                        
                                </select>
                        </form>
                        <form  >
                                <select class="select-drop-down-box">
                                        <option >Increase</option>
                                        <option >Decrease</option>
                                        
                                        
                                </select>
                        </form>
                        <a href="" id="orderedby">
                                <b>Ordered by</b>
                        </a>
                        <br>
                        <br>
                        <div class="container-pic">
                               
                                <div class="single-container-pic-order" style="float: right">
                                        {% load static %}
                                        <img class="display-pic-order" src="{% static 'Pictures/Steak1.jpg' %}"  alt="Steak1" />
                                        <div class="overlay">
                                            <div class="show-price-order">
                                                Price: 25$
                                                <br>
                                                Filet Migon and Chips
                                            </div>
                                        </div>
                                </div>

                                <div class="single-container-pic-order" style="float: right">
                                        {% load static %}
                                            <img class="display-pic-order" src="{% static 'Pictures/Seafood1.jpg' %}"   alt="Steak1" />
                                            <div class="overlay">
                                                    <div class="show-price-order">
                                                            Price: 10$
                                                            <br>
                                                            Macaroni with octopus
                                                        </div>
                                            </div>
                                </div>
                                <div class="single-container-pic-order">
                                        {% load static %}
                                        <img class="display-pic-order" src="{% static 'Pictures/Seafood3.jpg' %}"  alt="Steak1" />
                                        <div class="overlay">
                                                <div class="show-price-order">
                                                        Price: 20$
                                                    
                                                        <br>
                                                        Irish seafood paella
                                                    </div>
                                        </div>
                                </div>

                                <div class="single-container-pic-order" style="float: right">
                                        {% load static %}
                                            <img class="display-pic-order" src="{% static 'Pictures/Seafood2.jpg' %}"  alt="Steak1" />
                                            <div class="overlay">
                                                    <div class="show-price-order">Price: 16$
                                                            <br>
                                                            Sirloin steak
                                                            </div>
                                            </div>
                                </div>
                            
                                <div class="single-container-pic-order" style="float: right">
                                        {% load static %}
                                        <img class="display-pic-order" src="{% static 'Pictures/Steak3.jpg' %}"  alt="Steak1" />
                                        <div class="overlay">
                                                <div class="show-price-order">Price: 14$
                                                        <br>
                                                        Best chopped salad
                                                    </div>
                                        </div>
                                </div>

                                <div class="single-container-pic-order">
                                        {% load static %}
                                            <img class="display-pic-order" src="{% static 'Pictures/Salad1.jpg' %}"  alt="Steak1" />
                                            <div class="overlay">
                                                <div class="show-price-order">
                                                    Price: 25$
                                                    <br>
                                                    Filet Migon and Chips
                                                </div>
                                            </div>
                                </div>
                                <div class="single-container-pic-order" style="float: right">
                                        {% load static %}
                                        <img class="display-pic-order" src="{% static 'Pictures/Salad2.jpg' %}"  alt="Steak1" />
                                        <div class="overlay">
                                            <div class="show-price-order">
                                                Price: 25$
                                                <br>
                                                Filet Migon and Chips
                                            </div>
                                        </div>
                                </div>
                                <div class="single-container-pic-order" style="float: right">
                                        {% load static %}
                                        <img class="display-pic-order" src="{% static 'Pictures/Steak2.jpg' %}"  alt="Steak1" />
                                        <div class="overlay">
                                            <div class="show-price-order">
                                                Price: 25$
                                                <br>
                                                Filet Migon and Chips
                                            </div>
                                        </div>
                            </div>
                            <div class="single-container-pic-order">
                                    {% load static %}
                                    <img class="display-pic-order" src="{% static 'Pictures/Salad3.jpg' %}"  alt="Steak1" />
                                    <div class="overlay">
                                        <div class="show-price-order">
                                            Price: 25$
                                            <br>
                                            Filet Migon and Chips
                                        </div>
                                    </div>
                            </div>
                          
                  
                        </div>
        
            </div>
                    <div class="col s2" >
                            <form action="#" class="classification_menu">
                                <p>
                                <label>
                                    
                                    <input type="checkbox" />
                                    <span>Appetizer</span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    <input type="checkbox" checked="checked"/>
                                    <span>Seafood</span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    
                                    <input type="checkbox">
                                    <span>Slides </span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    
                                    <input type="checkbox" checked="checked"/>
                                    <span>Steak</span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    
                                    <input type="checkbox" />
                                    <span>Soup</span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    
                                    <input type="checkbox" checked="checked"/>
                                    <span>Salad</span>
                                </label>
                                </p>
                                    
                            </form>
                            
                       
                    </div>
                    <div class="col s3" id="menu_right_col">
                        <P >
                            <a id="whatordered">
                        <b>
                            What I have ordered
                        </b>
                            </a>
                        </P>
                           
                            <div id="orderedcuisine">
                                <form action="#"  id="orderedform">
                                    Burger <input type="number" name="points" min="1" max="10" />
                            
                                    Salad <input type="number" name="points" min="1" max="10" />
                                    Seafood <input type="number" name="points" min="1" max="10" />
                                    Slides <input type="number" name="points" min="1" max="10" />
                                </form>
                                <P style="font-size: 18px;">
                                    Total Price: 80$
                                </P>
                            </div>
                            
                            <a class="waves-effect waves-light btn" style="float: right">Save</a>
                            
                            <br>
                            <br>
                            
                            <audio controls autoplay muted loop class="audio">
                                    
                                     <source src="Music/background_music1.mp3" type="audio/mpeg">
                                        <source src="Music/background_music2.mp3" type="audio/mpeg">
                                      Your browser does not support the audio element.
                            </audio>
                    </div>
                   
                  </div>--> 

            
                  
            <!-- Page Content goes here -->
            
            
            

          <!--</div>-->
          <div class="general-container">
                {% csrf_token %}
                <p class="error_msg">{{show}}</p>
                  <table>
                      <thead>
                          <tr>
                              <th>
                                  Desk_no
                              </th>
                              <th>
                                  Store
                              </th>
                              <th>
                                name_of_cuisine
                              </th>
                              
                              <th>
                                  price
                              </th>
                              <th>
                                  description
                              </th>
                              <th>
                                    amount
                                </th>
                                <th>
                                    action
                                </th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for menu in menus %}
                          <tr>
                              <form action="#" method="POST">
                             
                                        <td>
                                            {% csrf_token %}
                                            <input type="text"  class="taskName" name="desk_no" required>
                                        </td>
                                        <td>
                                        {% csrf_token %}
                                        <select id="store" class="select-management" name="store_select" required>
                                            <option class="disabled" value="">Choose a store</option>
                                            {% for store in stores %}
                                                <option class="" value="{{ store.name }}" id="{{ store.name }}">{{ store.name }}</option>
                                            {% endfor %}
                                            </select>
                                        </td>
                                <td>
                              <label >
                                  {{menu.name_of_cuisine}}
                              </label>
                                </td>
                                <td>
                                    <label >
                                                {{menu.price}}
                                    </label>
                                </td>
                                <td>
                                        <label>
                                                    {{menu.description}}
                                        </label>
                                </td>
                                <td>
                                        {% csrf_token %}
                                        <input type="text"  class="taskName" name="amount" > 
                                </td>
                                <td>
                                        {% csrf_token %}
                                        <button class="waves-effect waves-light btn" name = "OrderMenu" id="{{ menu.id }}" value="{{ menu.id }}" type="submit">Order</button>
                                </td>
                            </form>
                          </tr> 
                          {% endfor %}
                         
                        </tbody>
                  </table>
              
          
What you have ordered
<table><thead>
    <tr>
        <th>name of cusine</th>
        <th>amount</th>
        <th>price</th>
        <!--<th>time</th>-->
        <th>store</th>
        <th>desk</th>
        <th>Action</th>
    </tr>
</thead>

{% for order in orders %}
<tr>
    <td>
        {{order.name_of_cuisine}}
    </td>
    <td>
        {{order.amount}}
    </td>
    <td>
        {{order.price}}
    </td>
    <!--<td>
        {{order.time}}
    </td>-->
    
    <td>
            {{order.store.name}}
    </td>
    
    <td>
            {{order.desk_no}}
    </td>
    <td><form action="#" method="POST">
            {% csrf_token %}
            <button class="waves-effect waves-light btn" name = "DeleteOrder" id="{{ order.id }}" value="{{ order.id }}" type="submit">Delete</button>
           
        </form>
        </td>

</tr>
{% endfor %}
</table>
        
          <a href="{% url 'manageorder' %}" class="waves-effect waves-light btn">Order</a>
          
 </div>
          <footer class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">Questions</h5>
                      <p class="grey-text text-lighten-4">Would you like to know more about us?
                          <br>
                          Want to join us?
                      </p>

                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Career</a></li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  
                  <div class="general-container">
                  <a class="grey-text text-lighten-4"  href="#!">© 2019 Jiayue Yang Copyright </a>
                  </div>
                </div>
              </footer>
        </body>
</html>