#headOfCal
{
text-align: center;
font-size:30px;
}
.head-caculator{
    background-color: #F5F5DC;
    color: #6495ED;
    font-size: 40px;
    text-align: center;
}
.show{
    width:400px;
    height: 100px;
    border-radius: 25px;
    background-color: blanchedalmond;
    color: black;
    font-size: 50px;
    margin-bottom: 5%;
    
    
    border-width: 2px;
    border-style: outset;
    
    border-image: initial;
    padding-right: 20px;
    text-align: right;
    
    

}
.button-num
{
font-size: 22px;
width: 100px;
height: 100px;
color: black;
background-color: bisque;
margin-bottom: 10%;
border-radius: 25px;

}
.button-num:hover{
    background-color:plum;
}
.button-ch{
    font-size: 22px;
    width: 100px;
    height: 100px;
    color: black;
    margin-bottom: 10%;
    border-radius: 25px;
    
}
.button-ch:hover{
    background-color: aquamarine;
}
footer{
    background-color: #F5F5DC;
    color: #6495ED;
    font-size: 40px;
    margin-top: 10%
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}