/*Reference: 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar2*/
.general-container{
    margin: 0 auto;
    
    width: 90%;
}
.container-pic{
    overflow-y: scroll;
    height: 80%;
    
}
.single-container-pic{
    
    width: 100%;
    height: 100%;
    
}
.display-pic{
    
    width: 100%;
    height: 100%;
    z-index: 0;
    display: auto;
}
.overlay {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(161, 173, 177);
  }
  .single-container-pic:hover .overlay{
    opacity: 0.6
}



.show-price{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
input[type=text] {
    
    color: grey  !important;
  }
.menu-page-header{
    
    color: white;
    font-size: 30px;
    text-align: center;
  }
  a:hover {
    text-shadow: 0.6px 0.6px 1.5px #bdbdbd;
  }

  /* width */
::-webkit-scrollbar {
    width: 20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #4db6ac; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4db6ac;
    opacity: 0.6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4db6ac; 
  }

 