<!DOCTYPE html>
    <html lang="en-US">
    <head>
            <meta charset="UTF-8">
            <title>
                Menu for visitors
            </title>
            
        <!--Import Google Icon Font-->
        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>-->
        <!--Import materialize.css-->
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen"/>
     
        <link type="text/css" rel="stylesheet" href="{% static 'css/additional.css' %}"  />
    </head>
    
    <body>
        <header class="menu-page-header">
        
                <div class="grid-example col s12" id="welcomeheadline">
                      {% block headerbutton %}
                        {% endblock %}   
                    Welcome to the Moonlight Restaurant
                   
                </div>
        
        </header>
        
    
        <div class="general-container">
                <p  class="headlineofmanagement">
                        <b>
                        {% block welcome%}
                        {% endblock%}
                        </b>
                    </p>
            {% block content %}
            {% endblock %}
        
            
            </div>
            <footer class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">Questions</h5>
                      <p class="grey-text text-lighten-4">Would you like to know more about us?
                          <br>
                          Want to join us?
                      </p>

                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Career</a></li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  
                  <div class="general-container">
                  <a class="grey-text text-lighten-4"  href="#!">© 2019 Jiayue Yang Copyright </a>
                  </div>
                </div>
              </footer>
        </body>
</html>