{% extends 'base.html' %} 
{% load static %}
        
{%block headerbutton%}
        <form method="post" action="/">                        
            <a href="{% url 'index' %}" class="waves-effect waves-light btn" id="logout" >Log Out</a>
        </form>
{% endblock %}
        
{%block welcome%}
Welcome, Manager
{% endblock %}
      {%block content%}
            <div class="row" id="table-margin-top">
                <div class="col s7">
                    <form style="float:right">
                        <select class="select-management">
                             <option >Line chart</option>
                             <option >Fan chart</option>
                             <option >Bar chart</option>
                             
                        </select>
                    </form>
                    <p  class="headlineofmanagement">
                        <b>
                        Today's sales
                        </b>
                    </p>
                    <img src="{% static 'Pictures/line-chart.jpg' %}" alt="line-chart">
                </div>

                <div class="col s5">
                    <p  class="headlineofmanagement">
                        <b>
                        Management Section
                        </b>
                    </p>
                        <div>
                            <a href="{% url 'manageorder' %}"  class="waves-effect waves-light btn" id="management-main-btn1" >Order</a>
                            <a href="{% url 'managermenu' %}"  class="waves-effect waves-light btn" id="management-main-btn1" >Menu</a>
                            <a href="{% url 'manageruser' %}" class="waves-effect waves-light btn" id="management-main-btn4">All Users</a>
                            <a href="{% url 'manageremployee' %}" class="waves-effect waves-light btn" id="management-main-btn2" >Employee</a>
                            <a href="{% url 'managerstore' %}" class="waves-effect waves-light btn" id="management-main-btn3">Store</a>
                            <a href="{% url 'managermanager' %}" class="waves-effect waves-light btn" id="management-main-btn4">Manager</a>
                            
                        </div>
                </div>
            </div>
        
         {% endblock%}
