{% extends 'base.html' %} 
{% load static %}
                
        {%block headerbutton%}
                <form method="post" action="/">
                                
                    <a href="{% url 'managermain' %}" class="waves-effect waves-light btn" id="logout" >Main</a>
                </form>
        {% endblock %}
                
        {%block welcome%}
        Records of Managers
        {% endblock %}
              {%block content%}  
          <div class="row" class="table-margin-top">
            <div class="col s4">
                <form class="search-bar-management">
                    <input type="text" name="search" value="Search store here" >
        
                </form>
            </div>
            <div class="col s2">
            <form>
                <select class="select-management">
                      <option >Increase</option>
                      <option >Decrease</option>
                </select>
            </form>
            </div>
            <div class="col s2">
            <form>
                <select class="select-management">
                     <option >Store-A</option>
                     <option >Store-B</option>
                     <option >Store-C</option>
                     <option >Store-D</option>
                </select>
            </form>
            </div>
            <div class="col s4">
                <p id="loginfo">
                    Hi, Nichole. Start to manage  managers now.
                   </p>
                   {% csrf_token %}
                <p class="error_msg">{{show}}</p>
            </div>
        </div>
            <div class="record-table">
        <table class="striped" >
            <thead>
              <tr>
                  <th>No.</th>
                  <th>UserName</th>
                  <th>Gender</th>
                  <th>Action</th>
                  <th>Action</th>
                  
                  
              </tr>
            </thead>
    
            <tbody>
                
                        {% for user in users %}
                    <tr>
                        <form action="#" method="POST">
                        <td>{{user.id}}</td>
                        <td>
                                {{user.username}}
                        </td>
                        <td>
                        {% csrf_token %}
                        <input type="text" id="status" class="taskName" name="gender" required>
                        </td>
                        <td colspan="2">
                        <button class="waves-effect waves-light btn" name="ManagerAdd" type="submit" value = "{{user.id}}">
                            Add New Manager
                        </button>
                        </td>
                    </form>
                    </tr>
                    {% endfor %}
                    
                    {% for manager in managers %}
                    <tr>
                        <form action="#" method="POST">
                            <td>{{manager.manageruser.id}}</td>
                            <td> {{manager.manageruser.username}}</td>
                            <td><input type="text" name="input_managergender" value="{{manager.gender}}"></td>
                         
                            <td>
                                  {% csrf_token %}
                                <button class="waves-effect waves-light btn" name = "ManagerUpdate" id="{{ manager.manageruser_id }}" value="{{ manager.manageruser_id }}" type="submit">Update</button>
                            </td>
      
                        </form>
                        <td>
                            <form action="#" method="POST">
                                      {% csrf_token %}
                            <button class="waves-effect waves-light btn" name = "ManagerDelete" id="{{ manager.manageruser_id }}" value="{{ manager.manageruser_id }}" type="submit">Delete</button>
                                                                    
                            </form>
                        </td> 
                    </tr>
                    {% endfor %}
              
            </tbody>
        </table>
 
        </div>
            
           
                  
          {% endblock %}  
            
            
