{% extends 'base.html' %} 

{% load static %}
                
        {%block headerbutton%}
                <form method="post" action="/">
                    <a href="{% url 'managermain' %}" class="waves-effect waves-light btn" id="logout" >
                        Main
                    </a>
                </form>
        {% endblock %}
                
        {%block welcome%}
                Records of Menus
        {% endblock %}


        {%block content%}   

          <div class="row" class="table-margin-top">
            <div class="col s4">
                <form class="search-bar-management">
                    <input class="table-margin-top" type="text" name="search" value="Search cuisine here" >
        
                </form>
            </div>
            <div class="col s2">
            <form>
                <select class="select-management">
                      <option >Burger</option>
                      <option >Salad</option>
                      <option >Slide</option>
                      <option >Steak</option>
                      <option >Seafood</option>
                </select>
            </form>
            </div>
            <div class="col s2">
            <form>
                <select class="select-management">
                     <option >Store-A</option>
                     <option >Store-B</option>
                     <option >Store-C</option>
                     <option >Store-D</option>
                </select>
            </form>
            </div>
            <div class="col s4">
                <p id="loginfo">
                    Hi, Nichole. Start to edit menu now.
                   </p>
                   <p class="error_msg">
                       {{show}}
                   </p>
            </div>
        </div>


    <div class="record-table">
        <table class="striped" >
            <thead>
              <tr>
                  <th>No.</th>
                  <th>id_for_dish</th>
                  <th>Name of Cuisine</th>
                  <th>Classification</th>
                  <th>Price</th>
                  <th>Description</th>
                  <th>
                      Picture
                  </th>
                  <th colspan="2">Action</th>
                  
              </tr>
            </thead>
    
            <tbody>
                    <form action="#" method="POST" enctype="multipart/form-data">
                            <tr>
                                <td>
                                    Default ID
                                </td>

                                <td>
                                    {% csrf_token %}
                                    <input type="text" id="status" class="taskName" name="id_for_dish" required>
                                </td>

                                <td>
                                {% csrf_token %}
                                <input type="text" id="status" class="taskName" name="name_of_cuisine" required>
                                </td>

                                <td>
                                    {% csrf_token %}
                                    <select id="menu" class="select-management" name="menu_select"  >
                                        <option class="disabled" value="">Choose a category</option>
                                        <option class="" value="Seafood" name="Seafood">Seafood</option>
                                        <option class="" value="Appetizer" name="Appetizer">Appetizer</option>
                                        <option class="" value="Slide" name="Slide">Slide</option>
                                        <option class="" value="Steak" name="Steak">Steak</option>
                                        <option class="" value="Soup" name="Soup">Soup</option>
                                        <option class="" value="Salad" name="Salad">Salad</option>
                                        <option class="" value="Burger" name="Burger">Burger</option>
                                    </select>
                                   
                                </td>
                            
                                <td>
                                    {% csrf_token %}
                                    <input type="text" id="status" class="taskName" name="price" required>
                                </td>

                                <td>
                                    {% csrf_token %}
                                    <input type="text" id="status" class="taskName" name="description" required>
                                </td>
                                
                               
                                <td>
                                     {% csrf_token %}
                                    <input type="file" name="myfile">
                                </td>

                                <td colspan="2">
                                    <button class="waves-effect waves-light btn" name="MenuAdd" type="submit">
                                        Add New Menu
                                    </button>
                                </td>
                            </tr>
                    </form>


            {% for menu in menus %}
              <tr>
                    <form action="#" method="POST" enctype="multipart/form-data">
                    <td>
                        {{menu.id}}
                    </td>

                    <td> 
                        <input type="text" name="input_menuid_for_dish" value="{{menu.id_for_dish}}">
                           
                    </td>

                    <td>
                        <input type="text" name="input_menuname_of_cuisine" value="{{menu.name_of_cuisine}}">
                           
                    </td>

                    <td>{% csrf_token %}
                        
                        <select id="menu" class="select-management" name="menu_select" style = " visibility: visible;">

                            <option class="disabled" value="{{menu.classification}}">{{menu.classification}}</option>
                            <option class="" value="Seafood" name="Seafood">Seafood</option>
                            <option class="" value="Appetizer" name="Appetizer">Appetizer</option>
                            <option class="" value="Slide" name="Slide">Slide</option>
                            <option class="" value="Steak" name="Steak">Steak</option>
                            <option class="" value="Soup" name="Soup">Soup</option>
                            <option class="" value="Salad" name="Salad">Salad</option>
                            
                        </select>
                    </td>
                            
                    <td> 
                        <input type="text" name="input_menuprice" value="{{menu.price}}">
                            
                    </td>
                            
                    <td>
                        <input type="text" name="input_menudescription" value="{{menu.description}}">
                           
                    </td>
                
                    <td>
                        <img class="menu_pic" src = "{{menu.picture}}" style="width: 80px; height:80px;">
                        <p>
                            location: {{menu.picture}}
                        </p>
                              {% csrf_token %}
                            <input type="file" name="myfileupdate">
                    </td>

                    <td>
                            {% csrf_token %}
                        <button class="waves-effect waves-light btn" name = "MenuUpdate" id="{{ menu.id }}" value="{{ menu.id }}" type="submit">
                            Update
                        </button>
                    </td>

                    </form>

                    <td>
                        <form action="#" method="POST">
                                {% csrf_token %}
                            <button class="waves-effect waves-light btn" name = "MenuDelete" id="{{ menu.id }}" value="{{ menu.id }}" type="submit">
                                Delete
                            </button>
                                                             
                        </form>
                    </td>
                </tr>
                {% endfor %}
       
            </tbody>
        </table>
    </div>
 {% endblock%}  
            
            
