{% extends 'base.html' %} {% load static %}
<!-- <head>
<script type="text/javascript" src="{% static 'js/item.js' %}"></script>
	
<script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>  
</head> -->
{%block headerbutton%}
        <form method="post" action="/">
                        
            <a href="{% url 'index' %}" class="waves-effect waves-light btn" id="logout" >Log Out</a>
            {% if request.user.is_superuser %}
            <a href="{% url 'managermain' %}" class="waves-effect waves-light btn" id="mainbtn" >Main</a>
            {% endif %}
        </form>
{% endblock %}

        {% block content %}
        {% csrf_token %}
        <p>
            Picture display for the menu, click here to <b  style="cursor:pointer" type="button" onclick="hide()">hide</b>
        </p>
                        <div class="container-pic" id="container-pic1">
                                {% for menu in menus %}
                                <div class="single-container-pic-order" style="float: right">
                                        {% load static %}
                                        <img class="display-pic-order" src = "{{menu.picture}}"  alt="{{menu.name_of_cuisine}}">
                             
                                        <div class="overlay">
                                            <div class="show-price-order">
                                                Price: {{menu.price}}
                                                <br>
                                                {{menu.name_of_cuisine}}
                                            </div>
                                        </div> 
                                </div>
                                {% endfor%}
                        </div>
                               
                                <br>
        <p class="error_msg">{{show}}</p>

        <table>
            <thead>
                <th>
                    Desk No
                </th>
                <th>
                    Store No
                </th>
            </thead>
            
            <tbody>
        <td>
          
            <input type="text" id="desk_no" class="taskName" name="desk_no" required>

        </td>
        <td>
    
            <select id="store" style="cursor:pointer" class="select-management" name="store_select" required>
                <option class="disabled" value="">Choose a store</option>
            {% for store in stores %}
                <option class="" value="{{ store.id }}" id="{{ store.id }}">{{ store.name }}</option>
            {% endfor %}
            </select>

        </td> 
        </tbody>
        </table>
          <table class="container-pic">
                 <thead>
                 <tr>

                      <th>
                          Cuisine_ID
                      </th>

                      <th>
                          Name_of_cuisine
                      </th>
                      
                      <th>
                          Price
                      </th>

                      <th>
                          Description
                      </th>

                      <th>
                          Amount
                      </th>
                      <th>
                          Action
                      </th>

                  </tr>
                  </thead>

                  <tbody>
                  {% for menu in menus %}
                  <tr>
                     
                        <td>
                            {{menu.id}}
                        </td>
                                
                        <td>
                            <label >
                                {{menu.name_of_cuisine}}
                            </label>
                        </td>

                        <td>
                            <label >
                                        {{menu.price}}
                            </label>
                        </td>

                        <td>
                            <label>
                                        {{menu.description}}
                            </label>
                        </td>
                       
                        <td>
                            1
                            <!-- <input type="text" id="amount" class="taskName" name="amount" value="1">  -->
                        </td>
                        <td>
                            <button id="orderbtn" type="submit" class="waves-effect waves-light btn" onclick="addItems(  {{menu.id}})" name = "OrderMenu">Order</button>
                        </td>
                  
                  </tr> 
                  {% endfor %}
                 
                </tbody>
          </table>
<!-- ORDER HERE
<table>
    <thead>
        <tr>
            <th>DESK NO</th>
            <th>STORE</th>
            <th>MENU</th>
            <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
            <div id = "content">
                  
        <tr>
        <td>
            
            <input type="text" id="desk_no" class="taskName" name="desk_no" required>

        </td>
        <td>
        
            <select id="store" style="cursor:pointer" class="select-management" name="store_select" required>
                <option class="disabled" value="">Choose a store</option>
            {% for store in stores %}
                <option class="" value="{{ store.id }}" id="{{ store.id }}">{{ store.name }}</option>
            {% endfor %}
            </select>

        </td> 
        
        <td>
               
            <select id="menu" style="cursor:pointer" class="select-management" name="menu_select" required>
                <option class="disabled" value="">Choose a menu</option>
            {% for menu in menus %}
                <option class="" value="{{ menu.id }}" id="{{ menu.id }}">{{ menu.name_of_cuisine }}</option>
            {% endfor %}
            </select>

        </td>  

        <td>
            
            <input type="text" id="amount" class="taskName" name="amount" value="1"> 
        </td> 
        
        <td>
        
      
        <button id="orderbtn" type="submit" class="waves-effect waves-light btn" onclick="addItems()" name = "OrderMenu">Order</button>
        </td>
        </tr>
        
        </div>
    </tbody>       
</table>      -->
<b>
What you have ordered 
</b>

<br>

<table id="order_part">
    <thead id="add_order">

        <tr>

            <th>Order ID</th>

            <th>Name of cusine</th>

            <th>Amount</th>

            <th>Price</th>

            <th>Store</th>

            <th>Desk</th>

            <th>Status</th>

            <th>Action</th>

        </tr>
    </thead>
    
   
       <tbody>
         



{% for order in orders %}
        <tr>

            <td>

                {{order.id}}

            </td>

            <td>

                {{order.name_of_cuisine}}

            </td>

            <td>

                {{order.amount}}

            </td>

            <td>

                {{order.price}}

            </td>
<!--
<td>
{{order.time}}
</td>
-->
            <td>
                {{order.store.name}}
            </td>

            <td>
                {{order.desk_no}}
            </td>
            
            <td>
                {{order.status}}
            </td>
            
            <td>
               
                    <button class="waves-effect waves-light btn deleteBtn" onclick="deleteOrders(this)" data-id="{{order.id}}">Remove</button>
   
                
                <!-- <i name="remove_order" id={{order.id}}></i> -->
            </td>

            </tr>
            {% endfor %}
        </tbody>
</table>

            <!-- <a href="{% url 'manageorder' %}" class="waves-effect waves-light btn">Order</a> -->
       
</div>
{% endblock%}
   