{% extends 'base.html' %} {% load static %}
<!-- <head>
<script type="text/javascript" src="{% static 'js/item.js' %}"></script>
	
<script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>  
</head> -->
{%block headerbutton%}
        <form method="post" action="/">
                        
            <a href="{% url 'index' %}" class="waves-effect waves-light btn" id="logout" >Log Out</a>
            <a href="{% url 'managermain' %}" class="waves-effect waves-light btn" id="logout" >Main</a>
        </form>
{% endblock %}

        {% block content %}
        {% csrf_token %}
        
                        <div class="container-pic">
                                {% for menu in menus %}
                                <div class="single-container-pic-order" style="float: right">
                                        {% load static %}
                                        <img class="display-pic-order" src = "{{menu.picture}}"  alt="{{menu.name_of_cuisine}}">
                             
                                        <div class="overlay">
                                            <div class="show-price-order">
                                                Price: {{menu.price}}
                                                <br>
                                                {{menu.name_of_cuisine}}
                                            </div>
                                        </div> 
                                </div>{% endfor%}
                        </div>
                               
                                <br>
        <p class="error_msg">{{show}}</p>
          <table>
              <thead>
                  <tr>
                      <th>
                          Cuisine_ID
                      </th>
                      <!-- <th>
                          Desk_no
                      </th>
                      <th>
                          Store
                      </th> -->
                      <th>
                        name_of_cuisine
                      </th>
                      
                      <th>
                          price
                      </th>
                      <th>
                          description
                      </th>
                      <!-- <th>
                            amount
                        </th> -->
                        <!-- <th>
                            action
                        </th> -->
                  </tr>
                  </thead>
                  <tbody>
                  {% for menu in menus %}
                  <tr>
                      <form action="#" method="POST">
                                <td>
                                    {{menu.id}}
                                </td>
                                
                        <td>
                      <label >
                          {{menu.name_of_cuisine}}
                      </label>
                        </td>
                        <td>
                            <label >
                                        {{menu.price}}
                            </label>
                        </td>
                        <td>
                                <label>
                                            {{menu.description}}
                                </label>
                        </td>
                       
                        <!-- <td>
                                {% csrf_token %}
                                <button class="waves-effect waves-light btn" name = "OrderMenu" id="{{ menu.id }}" value="{{ menu.id }}" type="submit">Order</button>
                        </td> -->
                    </form>
                  </tr> 
                  {% endfor %}
                 
                </tbody>
          </table>
ORDER HERE
<table>
    <thead>
        <tr>
            <th>DESK NO</th>
            <th>STORE</th>
            <th>MENU</th>
            <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
            <div id = "content">
                    <!-- {% url 'add_order' %} -->
                    <!-- action="{% url 'add_order' %}" method="post" -->
        <!-- <form  accept-charset="utf-8"> -->
        <tr>
        <td>
            <!-- {% csrf_token %} -->
            <input type="text" id="desk_no" class="taskName" name="desk_no" required>
        </td>
        <td>
        <!-- {% csrf_token %} -->
            <select id="store" class="select-management" name="store_select" required>
                <option class="disabled" value="">Choose a store</option>
            {% for store in stores %}
                <option class="" value="{{ store.id }}" id="{{ store.id }}">{{ store.name }}</option>
            {% endfor %}
            </select>
        </td> 
        
        <td>
               
                    <select id="menu" class="select-management" name="menu_select" required>
                        <option class="disabled" value="">Choose a menu</option>
                    {% for menu in menus %}
                        <option class="" value="{{ menu.id }}" id="{{ menu.id }}">{{ menu.name_of_cuisine }}</option>
                    {% endfor %}
                    </select>
                </td>  
        <td>
            
            <input type="text" id="amount" class="taskName" name="amount" value="1"> 
        </td> 
        
        <td>
        
        <!-- <button type="button" class="btn btn-primary" data-id="comment_button">Comment</button> -->
        <!--  -->
        <button type="submit" class="waves-effect waves-light btn" onclick="addItems()" name = "OrderMenu">Order</button>
        </td>
        </tr>
        <!-- </form> -->
        </div>
    </tbody>       
</table>     
  
What you have ordered 

<table id="order_part">
    <thead id="add_order">

        <tr>

            <th>Order ID</th>

            <th>name of cusine</th>

            <th>amount</th>

            <th>price</th>
<!--<th>time</th>-->
            <th>store</th>

            <th>desk</th>

            <th>status</th>

            <th>Action</th>

        </tr>
    </thead>
    
   
       <tbody>
         



{% for order in orders %}
        <tr>

            <td>

                {{order.id}}

            </td>

            <td>

                {{order.name_of_cuisine}}

            </td>

            <td>

                {{order.amount}}

            </td>

            <td>

                {{order.price}}

            </td>
<!--
<td>
{{order.time}}
</td>
-->
            <td>
                {{order.store.name}}
            </td>

            <td>
                {{order.desk_no}}
            </td>
            
            <td>
                {{order.status}}
            </td>
            
            <td>
               
                    <button class="waves-effect waves-light btn deleteBtn" data-id="${id}">Remove</button>
   
                
                <!-- <i name="remove_order" id={{order.id}}></i> -->
            </td>

            </tr>
            {% endfor %}
        </tbody>
</table>

            <!-- <a href="{% url 'manageorder' %}" class="waves-effect waves-light btn">Order</a> -->
       
</div>
{% endblock%}
    <!--
        <div class="general-container">
        
    
        
            
            <br>
            <div class="row">
                    <div class="col s7">
                            <a href="" id="frequentlyordered">
                                    <b>Frequently Ordered</b>
                                </a>
                            
                            
                        <form style="width: 50%">
                            <input type="text" name="search" value="Search cuisine here" >
                            
                        </form>
                        <form   >
                                <select  class="select-drop-down-box">
                                        <option >Price</option>
                                        <option >Popular</option>
                                        <option >Rank</option>
                                        
                                </select>
                        </form>
                        <form  >
                                <select class="select-drop-down-box">
                                        <option >Increase</option>
                                        <option >Decrease</option>
                                        
                                        
                                </select>
                        </form>
                        <a href="" id="orderedby">
                                <b>Ordered by</b>
                        </a>
                        <br>
                        <br>

                    -->

<!--
                             
                            
                             
                                      
        
            </div>
                    <div class="col s2" >
                            <form action="#" class="classification_menu">
                                <p>
                                <label>
                                    
                                    <input type="checkbox" />
                                    <span>Appetizer</span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    <input type="checkbox" checked="checked"/>
                                    <span>Seafood</span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    
                                    <input type="checkbox">
                                    <span>Slides </span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    
                                    <input type="checkbox" checked="checked"/>
                                    <span>Steak</span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    
                                    <input type="checkbox" />
                                    <span>Soup</span>
                                </label>
                                </p>
                                <p>
                                <label>
                                    
                                    <input type="checkbox" checked="checked"/>
                                    <span>Salad</span>
                                </label>
                                </p>
                                    
                            </form>
                            
                       
                    </div>
                    <div class="col s3" id="menu_right_col">
                        <P >
                            <a id="whatordered">
                        <b>
                            What I have ordered
                        </b>
                            </a>
                        </P>
                           
                            <div id="orderedcuisine">
                                <form action="#"  id="orderedform">
                                    Burger <input type="number" name="points" min="1" max="10" />
                            
                                    Salad <input type="number" name="points" min="1" max="10" />
                                    Seafood <input type="number" name="points" min="1" max="10" />
                                    Slides <input type="number" name="points" min="1" max="10" />
                                </form>
                                <P style="font-size: 18px;">
                                    Total Price: 80$
                                </P>
                            </div>
                            
                            <a class="waves-effect waves-light btn" style="float: right">Save</a>
                            
                            <br>
                            <br>
                            
                            <audio controls autoplay muted loop class="audio">
                                    
                                     <source src="Music/background_music1.mp3" type="audio/mpeg">
                                        <source src="Music/background_music2.mp3" type="audio/mpeg">
                                      Your browser does not support the audio element.
                            </audio>
                    </div>
                   
                  </div>--> 

            
                  
            <!-- Page Content goes here -->
            
            
            

          <!--</div>-->
